# ========================
# 🔧 Python general
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.installed.cfg
*.manifest
*.spec
*.dll
*.exe

# ========================
# 🐍 Environment / packaging
# ========================
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
.python-version
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# ========================
# ⚙️ Build / dist
# ========================
build/
dist/
downloads/
sdist/
wheels/
share/python-wheels/
develop-eggs/
.eggs/
lib/
lib64/
parts/
target/
MANIFEST

# ========================
# 🧪 Testing / coverage
# ========================
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

# ========================
# 📚 Docs
# ========================
docs/_build/
site/

# ========================
# 🧩 Django
# ========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# ========================
# ⚙️ Project-specific
# ========================
apps/gps/data/

# ========================
# 💻 IDE / Editors
# ========================
.vscode/
.spyderproject
.spyproject
.ropeproject
.DS_Store
.ipynb_checkpoints
.idea/

# ========================
# 📦 Tools & extras
# ========================
.webassets-cache
.scrapy
celerybeat-schedule
celerybeat.pid
.pypirc
.ipython/
profile_default/
ipython_config.py
cython_debug/

static/images/GDi_logo.svg
