<!-- apps/demo/templates/demo/card.html -->
{% load static %}


<div class="card-container">
  <div class="card">
    <h2>Демо-доступ до Wialon</h2>
    <p>Натисніть кнопку нижче, щоб увійти в демо-акаунт системи моніторингу Wialon.</p>
    <a href="https://gps.gps-plus.com.ua/login.html?lang=uk&user=Django&access_token=e79a9a9ff34e3342db3fb78dddae7e02CDC7544A69B128629E8CD0916833F082BDBF3032&svc_error=0" class="demo-button" target="_blank" rel="noopener noreferrer">
      Увійти в демо
    </a>
  </div>
</div>
