{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>GPS Трек</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha384-vQQDdPVXbz2N/QMdZ7zOjfPWBN0Qxgnxk+1k2YrWdcG93o7Jkh+nH9ks3Uz8Uksd" crossorigin="" />
  <style> #map { height: 100vh; width: 100vw; } </style>
</head>
<body>
<div id="map" style="height: 600px;"></div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha384-mJkLZLi5NRUDIdVg1hIn8SE06zbdhCDPHTqprKiSVZp1N7MPdByHh0COow5UjFZe" crossorigin=""></script>
  <script>
    const map = L.map('map').setView([49.56, 25.54], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
    fetch("{% url 'gps:track_geojson' %}")
      .then(res => res.json())
      .then(data => {
        const track = L.geoJSON(data, {
          onEachFeature: (feature, layer) => {
            if (feature.properties?.time) {
              layer.bindPopup(`Time: ${feature.properties.time}`);
            }
          }
        }).addTo(map);
        map.fitBounds(track.getBounds());
      });
  </script>
</body>
</html>
